[Unit]
     Description = Microservice Demo Frontend
     After network.target = microservices-frontend.service

[Service]
     Type = forking
     Restart=always
     RestartSec=1
     SuccessExitStatus=143
     ExecStart = /bin/bash /usr/local/bin/microservices-frontend.sh start
     ExecStop = /bin/bash /usr/local/bin/microservices-frontend.sh stop
     ExecReload = /bin/bash /usr/local/bin/microservices-frontend.sh reload

[Install]
     WantedBy=multi-user.target